<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteExample">
  <test name="Testtry">
    <classes>
      <class name="testNG.AssertGmail"/>
      <class name="testNG.TestOne"/>
      <class name="testNG.TestMethods"/>
      <class name="testNG.LoginTest"/>
      <class name="testNG.AssertNotIRCTC"/>
    </classes>
  </test> <!-- Testtry -->
</suite> <!-- SuiteExample -->
